<div class="mainWrapper">

    <div class="title">
        <h1>About Emmaus Church</h1>
    </div>

    <div class="about">
        <div class="image">
            <img title="Emmaus Building" alt="" src="~/images/emmausBuilding.JPG" border="0">
        </div>
        <div class="content">
            <p><img title="Emmaus Building" alt="" src="emmausBuilding.JPG" border="0">
            Emmaus Church is a community of about 50 people of mixed ages set in the Severn
                side village of Severn Beach. It's three core principles are to make disciples
                for Jesus, to live as a Christian Community and to reach out to transform society.
                The whole Church has busy and exciting times reaching out into the local community,
                building on existing friendships, establishing new contacts and working together as a team. <br /><br />
                We are informal and like to think we are friendly and fun to be with. Children are welcomed and provided
                for if accompanied by an adult. You will be most welcome to join us.</p>
            <p>
            </p>

        </div>
    </div>

</div>