@{
    List<Service> serviceList = ViewData["services"] as List<Service>;
}

<div class="mainWrapper">

    <div class="title">
        <h1>@ViewData["Title"]&nbsp;Programme&nbsp;@serviceList[0].Date&nbsp;-&nbsp;@serviceList[serviceList.Count - 1].Date&nbsp;@DateTime.Now.Year</h1>
    </div>

    <!--#region table  -->
    <div class="table">

        <div class="fieldOne table-header">
            <p>Date</p>
        </div>

        <div class="fieldTwo table-header">
            <p>Bible Text</p>
        </div>

        <div class="fieldThree table-header">
            <p>Speaker</p>
        </div>

        @foreach (var service in serviceList)
        {
            <div class="fieldOne">
                <p>@service.Date</p>
            </div>
            <div class="fieldTwo">
                <p>
                    @service.Summary
                </p>
            </div>
            <div class="fieldThree">
                <p>@service.Speaker</p>
            </div>
        }
        <!--#endregion -->

    </div>
</div>