<div class="mainWrapper">
    <div class="contactUs">
        <div class="title">
            Contact Us
        </div>


        <p> Our address in 2 Gorse Cover Road, Severn Beach, Bristol, BS35 4NP </p>
        <p>
            Please feel free to pop in and see us.
            If you would like to email us our address is: <a href="mailto:emmauschurch@fsmail.net">emmauschurch@fsmail.net</a><br />
            or follow us on <a href="https://www.facebook.com/emmaus.church.50">facebook</a>
        </p>
        <p>
            <a onclick="window.open('https://goo.gl/maps/mS9pEPbiKGq');">
                <img class=bigImages title="Emmaus Church Center" alt="" style="width: 100%; height: auto; max-width:500px;" src="~/images/emmuasChurchLocation.jpg" border="0">
            </a>
        </p>
    </div>

</div>