<div class="mainWrapper">

    <div class="title">
        <h1>Contact&nbsp;Us</h1>
    </div>

    <div class="contactUs">
        <div class="content">
            <p> Our address in 2 Gorse Cover Road, Severn Beach, Bristol, BS35 4NP </p>
            <p>
                Please feel free to pop in and see us.
                If you would like to email us our address is: <a href="mailto:emmauschurch@fsmail.net">emmauschurch@fsmail.net</a><br />
                or follow us on facebook
            </p>
            <p>
                <img class=bigImages title="location" alt=""
                     src="http://maps.google.com/maps/api/staticmap?center=51.564070991002175,-2.66157442485349&amp;zoom=15&amp;size=500x300&amp;markers=size:normal|color:red|51.56409766884967,-2.6618319169189135&amp;maptype=roadmap&amp;sensor=false" border="0">
            </p>
        </div>
    </div>

</div>