<div class="mainWrapper">

    <div class="title">
        Create&nbsp;Role
    </div>

    <div class="CreateRole">

        <div class="Form-style">

            <form asp-action="CreateRole" method="post">

                <input class="input text" type="text" name="Rolename" placeholder="Role" />

                <button class="submit" type="submit">Create</button>
            </form>

        </div>
    </div>
</div>