<div class="mainWrapper">
    <div class="CreateRole">
        <div class="title">
            Add&nbsp;Service
        </div>



        <div class="Form-style" style="height:300px;">

            <form asp-action="AddKidService" method="post">

                <input class="input date" type="date" name="dateTime" />
                <input class="input text" type="text" name="Story" placeholder="Story" />
                <input class="input text" type="text" name="Text" placeholder="Text" />
                <input class="input text" type="text" name="Speaker" placeholder="Speaker" />
                <button class="submit" type="submit">Add</button>
            </form>

        </div>
    </div>
</div>

