@using Emmaus.Helper;

<div class="mainWrapper">

    <div class="title">
        @{
            (ViewData["Title"] as string).ReplaceWhitespaceWithNbsp();
        }
    </div>

    <div class="CreateRole">

        <div class="Form-style">

            <form asp-action="AddProjectionRota" method="post">

                <input class="input date" type="date" name="dateTime" />
                <select class="input" name="Name" asp-items="Html.GetEnumSelectList<ProjectionLeader>()"></select>
                <select class="input" name="Role" asp-items="Html.GetEnumSelectList<ProjectionRole>()"></select>
                <button class="submit" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>