<div class="mainWrapper">
    <div class="CreateUser">
        <div class="title">
            Create&nbsp;User
        </div>



        <div class="Form-style">

            <form asp-action="CreateUser" method="post">
                <input class="input text" type="text" name="EmailAddress" placeholder="Email" />

                <input class="input password" type="password" name="Password" placeholder="Password" />

                <input class="input text" type="text" name="Role" placeholder="Role" />

                <button class="submit" type="submit">Create</button>
            </form>

        </div>
    </div>
</div>