<div class="mainWrapper">
    <div class="CreateUser">
        <div class="title">
            Create&nbsp;User
        </div>



        <div class="Form-style" style="height:420px;">

            <form asp-action="CreateUser" method="post">
                <input class="input text" type="text" name="EmailAddress" placeholder="Email" />

                <input class="input password" type="password" name="Password" placeholder="Password" />

                @foreach (var role in Enum.GetNames(typeof(Roles)).OrderBy(n => n).ToList())
                {
                    <br><input type="checkbox" name="Roles" value="@role">@role<br>
                }
                <br>
                <button class="submit" type="submit">Create</button>
            </form>

        </div>
    </div>
</div>