@{
    //var message = @ViewData["Message"] != null ? ViewData["Message"] : "";
    var message = TempData["Message"] as string;
}

<div class="mainWrapper">

    <div class="about">

        <div class="title">
            Error
        </div>

        <p>Sorry, an error occurred.</p>
        @if (!string.IsNullOrEmpty(message))
        {
            <p>The id for this error is: @message.<br> Please <a href="mailto:david_beales@ymail.com">contact</a> the administrator quoting this id.</p>
        }

    </div>

</div>

<script>
        let message = '@TempData["Message"]';
        //$(document).ready(function () {
        //    printMessasge();
        //});
            function printMessasge() {
                if (message !== "") {
                    alert(message);
                }
            }
</script>