@{
    var message = @ViewData["Message"] != null ? ViewData["Message"] : "";
}

<div class="mainWrapper">

    <div class="about">

        <div class="title">
            Error
        </div>

        <p>Sorry, an error occurred.</p>

    </div>

</div>

<script>
        let message = '@ViewData["Message"]';
        $(document).ready(function () {
            printMessasge();
        });
            function printMessasge() {
                if (message !== "") {
                    alert(message);
                }
            }
</script>