<div class="mainWrapper">
    <div class="about">

        <div class="title">
            Events
        </div>

        <img title="Food at Emmaus" src="~/images/EmmausFood.jpg" />

        <h4>Upcoming Events</h4><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Femmaus.church.50%2Fposts%2F1649947765132021&width=500" width="500" height="469" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

        @*<img title="Food at Emmaus" src="~/images/EventsAutumn2018.jpg" />*@
        
    </div>

</div>