<div class="mainWrapper">
    <div class="title">

        Our&nbsp;History

    </div>
    <div class="history">
            <h2 id="subHeading">
                Emmaus Church Centre is a
                modern, purpose built building set in lovely grounds with its own car
                park. It was opened in 1993 but the history of the church goes back to
                the 1930's.
            </h2>

            <img style="width: 100%; height: auto; max-width:160px;"
                 width="160" height="120" title="John" align="right" src="~/images/oldChurch1.JPG" border="1">

            <p>
                In the 1930's,
                40's and 50's, some Christians in Severn Beach met for worship and prayer in Nissen huts in Shaft Road.
                Christian missions were held in marquees for the people from Bristol who came to camp at Salthouse Farm. An
                organ would be taken on to the riverbank and hymns sung in the open air. Children's activities were
                organised in a cottage at Salthouse Farm with magic
                lantern slide shows&nbsp;and the children were collected in an old van. This
                grew into an afternoon Sunday School. A 'breaking of bread' service and an
                evening outreach were added and so began a church with support from friends
                living in the surrounding villages.
            </p>

            <p>
                In the 1950's
                and 60's more houses were built and Severn
                Beach became a thriving
                country village. A Chapel called Emmaus was built in Green Lane. As numbers and activities grew, a
                second hand wooden mission hall building from Oldown was added for the Youth
                and Children's work.
            </p>

            <img style="width: 100%; height: auto; max-width:160px;"
                 width="160" height="120" title="Bridget" align="right" style="margin-left: 0px; margin-left: 10px;" src="~/images/newChurch1.JPG" border="1">

            <p>
                In the late
                1980's, the Government decided to build the Second Severn Crossing and Emmaus
                Chapel was in the way of the new road layout. The Government paid for the
                reinstatement of a church building on a new plot of land in
                Gorsecover Road.
                This is Emmaus Church Centre today. Locally, reactions to the new bridge for
                the M4 are mixed but we give thanks to God for the provisions of the
                generations that have gone before us and nowadays for the wonderful people that
                meet in the building every week.
            </p>

    </div>

</div>