<div class="mainWrapper">
    <div class="links">
        <div class="title">
            Links
        </div>

        <h2> Our Connected Organisations</h2>
        <p><a href="http://www.mullers.org/">Muller Church Partnership</a></p>
        <p><a href="http://www.fairtrade.org.uk/">Fairtrade Foundation</a></p>
        <p><a href="http://www.bcft.co.uk/">Bristol Community Family Trust</a></p>
        <p><a href="http://www.ccpas.co.uk/">Evangelical Alliance</a></p>
        <p><a href="http://www.alpha.org/">Alpha Course</a></p>
        <p><a href="http://www.tearfund.org/">Tearfund</a></p>
        <p><a href="https://www.youtube.com/channel/UCbIlNLXyqgKX07qLLyw5Fig">Emmaus Church YouTube Channel</a></p>
    </div>

</div>