<div class="mainWrapper">

    <div class="title">
        <h1>Local&nbsp;Community</h1>
    </div>

    <div class="LocalCommunity">
        <div class="content">
            <p style="text-align: center"><i>Emmaus Church aims to make a difference in the local community.</i></p>

            <h4>Social Events</h4>
            <p>We organize social events such as Film Nights, Craft Days, Quiz Nights and Barbecues.</p>

            <h4>Pebbles</h4>
            <p>Pebbles is our Toddler Group running every Wednesday in term time from 10-12am.  We have craft, song time, snack and if the weather is fine outdoor play.</p>

            <h4>Family's Events</h4>
            <p>We run events for families during school holidays and 3-4 times a year 'Fun & Food' parties on Sunday afternoons.</p>

            <h4>Youth Group</h4>
            <p>Youth Group runs every other Friday evening from 6.30 til 8pm.  It is for Years 6-9.  We have snack, games, crafts, chill out area and faith slot.</p>

            <h4>Men's Group</h4>
            <p>The Yorkie Group runs outings once a month for men.</p>

            <h4>Badminton</h4>
            <p>Each Friday a group play Badminton at Henbury Leisure Centre at 9pm.</p>

            <h4>Primary School</h4>
            <p> Once a term we go into our local primary school to take assemblies and we sponsor a street dance teacher to run a weekly after school club.</p>

            <h4><i>Please keep your eye on the website to what is coming up soon.</i></h4>

        </div>
    </div>
</div>