@model UserInfo
@{
    var login = (UserInfo)@ViewBag.Login;
}

<div class="mainWrapper">

    <div class="title">
        Your Details
    </div>

    <div class="about">
        <p>
            @login.EmailAddress
        </p>
        <p>
            @login.Password
        </p>
    </div>
</div>