@model UserInfo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="mainWrapper">
    <div class="Login">
        <div class="title">
            Login
        </div>

        <div class="Form-style">
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <input class="text" asp-for="EmailAddress" value="username" placeholder="Username" /><br />
                    <input class="password" asp-for="Password" value="password" placeholder="Password" /><br />
                </div>
                <button class="submit" type="submit">Login</button>
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All"></div>
            </form>
        </div>

    </div>
</div>

<script>
        let message = '@ViewData["Message"]';
        $(document).ready(function () {
            printMessasge();
        });
            function printMessasge() {
                if (message !== "") {
                    alert(message);
                }
            }
</script>