<div class="mainWrapper">

    <div class="title">
        <h1>Meet&nbsp;The&nbsp;Team</h1>
    </div>

    <div class="meetTheTeam">
        <div class="content">
            <h2>
                Leadership Team
            </h2>

            <h3>
                John Miller and Carol
            </h3>

            <img width="160" height="120" title="John" align="right" style="margin-right: 0px; margin-left: 10px;" src="~/images/johnCarol.JPG">

            <p>
                John was brought up within a farming community so has a keen
                interest in anything rural. John has a great sense of humour and always likes
                to bring some sense of joy and amusement to his preaching. No wonder his son
                and daughter have left home&nbsp;but his wife Carol remains faithful after 30
                years.&nbsp;He has always enjoyed sport, but is now resigned to watching games
            </p>

            <h3>
                Bridget and Mark Chattaway
            </h3>

            <img width="160" height="120" title="Bridget" align="right" style="margin-right: 0px; margin-left: 10px;" src="~/images/bridgetMark.JPG">

            <p>
                Mark was born in Leicester in the Midlands, then moved to Exeter in Devon when he
                was a teenager.&nbsp; Mark met Bridget when working for the London City Mission
                in 1988.&nbsp; Bridget then sailed with Logos 2 working for Operation
                Mobilisation, while Mark studied at Moorlands
                Bible College
                near Christchurch in Dorset.&nbsp;
                They married in Ireland
                during the summer of 1992. They have lived in Severn Beach
                more or less ever since and with their twin children Sarah &amp; David from
                2003.&nbsp; Mark works full time for the NHS
            </p>

            <h3>
                Miriam Bamfield - Children and Family Trainee
            </h3>

            <img width="120" height="178" title="Miriam" align="right" style="margin-right: 0px; margin-left: 10px;" src="~/images/miriam.JPG">

            <p>
                Miriam lives in a nearby village. &nbsp;She was brought up by her family and they attended &nbsp;their &nbsp;local evangelical church.
                &nbsp;God really spoke to her at Soul&nbsp;Survivor and encouraged her to serve him.
                &nbsp;&nbsp;Consequently&nbsp;she volunteered and worked for Lee Abbey Christian Conference Centre over a period of two years where she
                was able to use her passion&nbsp;for cooking&nbsp;&nbsp;and leading worship. &nbsp;She is now serving God as our Children's and Family Worker
                while training with South West Youth Ministries.
            </p>

        </div>
    </div>

</div>