@model RoleInfo
@using Microsoft.AspNetCore.Identity;

@{
    var roles = (IAsyncEnumerable<string>)ViewData["roles"];
}

<div class="mainWrapper">

    <!--#region table  -->
    <div class="roleManagement">

        <div class="title">
            Role Management
        </div>

        <div class="fieldOne table-header">
            <p>Name</p>
        </div>

        <div class="fieldTwo table-header">
            <p></p>
        </div>

        @foreach (var role in roles.ToEnumerable())
        {
            <div class="fieldOne">
                <p>@role</p>
            </div>

            <div class="fieldTwo">
                <p>
                    <a onclick="ConfirmDelete('Delete Role?')"
                       asp-action="DeleteRole" asp-route-roleName="@role"><span class="glyphicon glyphicon-trash"></span></a>
                </p>
            </div>
        }

        <!--#endregion -->

    </div>
</div>

<script>
    function ConfirmDelete(message) {
        if (confirm(message)) {
            return;
        }
        event.preventDefault();
    }
</script>