@model RoleInfo
@using Microsoft.AspNetCore.Identity;

@{
    var roles = (List<IdentityRole>)ViewData["roles"];
}

<div class="mainWrapper">

    <div class="title">
        Role Management
    </div>

    <!--#region table  -->
    <div class="roleManagement">

        <div class="fieldOne table-header">
            <p>Name</p>
        </div>

        <div class="fieldTwo table-header">
            <p>Remove</p>
        </div>

        <div class="fieldThree table-header">
            <p></p>
        </div>


        @foreach (var role in roles)
        {
            <div class="fieldOne">
                <p>@role.Name</p>
            </div>

            <div class="fieldTwo">
                <p>
                    <a onclick="ConfirmDelete('Delete Role?')"
                       asp-action="DeleteRole" asp-route-roleName="@role.Name">Delete</a>
                </p>
            </div>

            <div class="fieldThree">
                <p></p>
            </div>
        }


        <!--#endregion -->

    </div>
</div>

<script>
    function ConfirmDelete(message) {
        if (confirm(message)) {
            return;
        }
        event.preventDefault();
    }
</script>