
<div class="mainWrapper">
    <div class="title">
        Services
    </div>

    <div class="services">
        <p>
            Emmaus Church meets on a Sunday morning from 10:30am - 12:00am.
            We meet for a service that includes a mixture of well-known and modern hymns and songs,
            prayer, and a Bible based talk. The service ends with tea, coffee and a chance to make new friends.
            You would be most welcome to join us
        </p>

        <p>
            Children are welcome and provided for in Kidspace and Creche if accompanied by an adult.
            This is a place for the children to learn about God and the Bible in a way that is accessible and relevant for them.
        </p>
        <h4>Breakfast Club</h4>
        <p>

            Every fortnight a Breakfast Club run by Severn Beach United Church runs concurrently with our Sunday Morning Service.
            It begins at 10am with breakfast for everyone, quiz sheets and colouring for the children.
            This is followed by a dvd, games, and a choice of craft.
            All age children are welcome with parents/grandparents.
        </p>
        <h4>Homegroups</h4>
        <p>

            During the week we run three homegroups on a Tuesday, Wednesday or Thursday evening at various homes in Severn Beach .
            Each Group is different with its own leader. The Groups aim to provide opportunities to discuss the previous Sunday's teaching,
            ask questions and learn more about Jesus. It is also a good time to build friendships and pray for each other,
            the local and the wider community
        </p>
        <h4>Faith House</h4>
        <p>

            Once a month we take a service in our local residential care home for those residents who are no longer able to make it to church.
            This includes well-known hymn, prayers and a short talk.
        </p>

        <p>For more information on any of our services, please email us and we will put you in touch with the leaders.</p>
    </div>
</div>