@using Emmaus.Helper;

@{
    var services = (IEnumerable<Service>)ViewData["services"];
    string newTitle = ServiceListHelper.Title(services, "Adults");
    string title = (string)ViewData["Title"];
}

<div class="mainWrapper">

    <!--#region table  -->
    <div class="table">

        <div class="title">
            @title
        </div>

        <div class="fieldOne table-header">
            <p><span class="glyphicon glyphicon-time"></span>@*Date*@</p>
        </div>

        <div class="fieldTwo table-header">
            <p><span class="glyphicon glyphicon-book"></span></p>
        </div>

        <div class="fieldThree table-header">
            <p><span class="glyphicon glyphicon-pencil"></span>@*Text*@</p>
        </div>

        <div class="fieldFour table-header">
            <p><span class="glyphicon glyphicon-user"></span>@*Speaker*@</p>
        </div>

        @foreach (var service in services)
        {
            <div class="fieldOne">
                <p>@service.ToDayMonth()</p>
            </div>
            <div class="fieldTwo">
                <p>
                    @service.Story
                </p>
            </div>
            <div class="fieldThree">
                <p>@service.Text</p>
            </div>
            <div class="fieldFour">
                <p>@service.Speaker</p>
            </div>
        }
        <!--#endregion -->

    </div>
</div>