@model UserInfo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var email = Context.User.Identity.Name.Split('@').First();
}
<div class="mainWrapper">
    <div class="Login">
        <div class="title">
            Hello @email
        </div>

        <div class="FormUserDetails">
            <form asp-action="UpdatePassword" method="post">
                <div class="form-group">
                    <input class="password" asp-for="Password" name="currentPassword" placeholder="Current Password" required />
                    <input class="password" id="txtNewPassword" asp-for="Password" name="newPassword" placeholder="New Password" minlength="8" required />
                    <input class="password" id="txtConfirmPassword" asp-for="Password" placeholder="Confirm Password" minlength="8" required />
                </div>
                <button onclick="validatePassword()" class="submit" type="submit">Update Password</button>
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All"></div>
            </form>
        </div>

        <div class="FormUserDetails">
            <form asp-action="UpdateEmail" method="post">
                <div class="form-group">
                    <input class="text"  name="currentEmail" placeholder="Current Email" required />
                    <input class="text" id="txtNewEmail" name="newEmail" placeholder="New Email" minlength="8" required />
                    <input class="text" id="txtConfirmEmail" placeholder="Confirm Email" minlength="8" required />
                </div>
                <button onclick="validateEmail()" class="submit" type="submit">Update Email</button>
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All"></div>
            </form>
        </div>

    </div>
</div>

<script>
        let message = '@ViewData["Message"]';
        $(document).ready(function () {
            printMessasge();
        });
       function printMessasge() {
                if (message !== "") {
                    alert(message);
                }
         }

    function validatePassword() {
        var password = $("#txtNewPassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();

        if (password != confirmPassword) {
            alert("passwords do not match")
            event.preventDefault();
            return
        }
    }

    function validateEmail() {
        var password = $("#txtNewEmail").val();
        var confirmPassword = $("#txtConfirmEmail").val();

        if (password != confirmPassword) {
            alert("emails do not match")
            event.preventDefault();
            return
        }
    }

</script>