<div class="clear">
    <div class="welcome">

        @*<div class="welcome">*@
        <h1>
            Welcome
        </h1>


        @*<img title="Emmaus Talk" alt="" src="~/images/emmausTalk.JPG">*@
        <p>
            Thank you for visiting our website. Please feel free to look around at what we are doing.
            It would be lovely to see you at any of our events.
        </p>

        @*<h4>UPCOMING EVENTS</h4>*@

        @*<img title="Breakfast Club" alt="" src="~/images/breakfastClub.JPG" border="0">*@
        @*</div>*@
    </div>

</div>