<div class="mainWrapper">

    <div class="title">
        <h1>Wider Community</h1>
    </div>

    <div class="WiderCommunity">
        <div class="content">

            <p style="text-align: center"><i>Emmaus supports a variety of charities and sponsors two children.</i><p>

                <h2 id="atHome">At Home</h2>
                <h4>Changing Tunes</h4>
            <p> <a href="http://www.changingtunes.org.uk/">Changing Tunes</a> sends groups of musician into prisons to aid rehabilitation to reduce re-offending.  The common purpose of making music creates an environment for prisoners to improve self-esteem, build healthy relationships, and engage in an activity where hard work and perseverance brings rewards.</p>
            <p>We help support a musician who goes into our local women's prison.</p>


            <h4>Food Bank</h4>
            <p> We are a food bank collection point for the <a href="http://www.bristolnwfoodbank.org.uk/">Bristol North West Food Bank</a>.</p>

            <h4>Crisis Centre</h4>
            <p> The <a href="http://www.crisis-centre.org.uk/">Crisis Centre Ministries</a> helps the homeless and people affected by drug-addiction in Bristol by running a drop-in café called 'The Wild Goose', putting on course to develop confidence and skills for those who have had addictions and running 'Spring of Hope', a ladies night shelter.</p>
            <p>At Harvest time we send boxes of dried and tinned food to the Crisis Centre in Bristol to use in 'The Wild Goose'.</p>

            <h4>Bristol International Student Centre</h4>
            <p>Once a year, usually in May, we invite <a href="http://www.bisc.org.uk/">Bristol International Student Centre</a> to bring a group of students who studying in Bristol to the village for a walk and lunch.</p>

            <h2 id="overseas">Overseas</h2>
            <h4>Open Doors</h4>
            <p><a href="http://www.opendoorsuk.org/">Open Doors</a> supports Christians who are suffering because of their faith. It is active in over 50 countries, supplying Bibles, leadership training and Bible-based literacy programmes.</p>

            <h4>Rwanda Orphans Project</h4>
            <p>Started back in 1991, the Rwanda Orphans Project supports around 500 orphans in the capital city of Rwanda, Kigali through a sponsorship scheme.  They also run training schools to teach practical skills that can be used to support themselves in the future.</p>
            <p>We sponsor Jean Claude (aged 12) and Marie-Louise (aged 22).</p>

        </div>
    </div>
</div>