<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emmaus</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <!-- Google -->
    <meta itemprop="name" content="Emmaus Church Center" />
    <meta itemprop="description" content="Emmaus Church of Severn Beach welcomes everyone from the community to join us." />
    <meta itemprop="image" content="" />

</head>
            

<body background="/images/bluesky50.jpg">

    @functions {
    public string DisplaySubMenu()
    {
        string pageName = ViewBag.Title.ToLower();

        if (pageName.Contains("wider community"))
        {
            var homeLink = "<a class='subLink' href='/Ui/LoadAtHomeView'><p>At Home</p></a>";
            var overseasLink = "<a class='subLink' href='/Ui/LoadOverseasView'><p>Overseas</p></a>";
            return String.Concat(homeLink, overseasLink);
        }
        else if (pageName.Contains("services"))
        {
            var adultLink = "<a class='subLink' href='/Ui/LoadAdultServicesView'><p>Adult</p></a>";
            var childLink = "<a class='subLink' href='/Ui/LoadChildServicesView'><p>Children</p></a>";
            return String.Concat(adultLink, childLink);
        }

        else if (pageName.Contains("about") || pageName.Contains("history") || pageName.Contains("meet the team"))
        {
            var historyLink = "<a class='subLink' href='/Ui/LoadHistoryView'><p>Our&nbsp;History</p></a>";
            var teamLink = "<a class='subLink' href='/Ui/LoadMeetTheTeamView'><p>Our&nbsp;Team</p></a>";
            return String.Concat(teamLink, historyLink);
        }
        return "";
    }
    }

    <div class="wrapper">

        <div class="navBarContainer">
            <p class="mainTitle">Emmaus Church Centre</p>
            <a class="navLink current" asp-controller="Ui" asp-action="LoadWelcomeView"><p>Welcome</p></a>
            <a class="navLink" asp-controller="Ui" asp-action="LoadAboutView"><p>About</p></a>
            <a class="navLink" asp-controller="Ui" asp-action="LoadServicesView"><p>Services</p></a>
            <a class="navLink" asp-controller="Ui" asp-action="LoadLocalCommunityView"><p>Local&nbsp;Community</p></a>
            <a class="navLink" asp-controller="Ui" asp-action="LoadWiderCommunityView"><p>Wider&nbsp;Community</p></a>
            <a class="navLink" asp-controller="Ui" asp-action="LoadLinksView"><p>Links</p></a>
            <a class="navLink" asp-controller="Ui" asp-action="LoadContactUsView"><p>Contacts</p></a>
        </div>


        <div class="subMenu">
            @Html.Raw(DisplaySubMenu())
        </div>

        @RenderBody()

        <div class="footer">
            <p>Copyright &copy; Emmaus Church</p>
        </div>

    </div>

    <script>
        var model = @Html.Raw(Json.Serialize(ViewBag.Title));
        
        window.onload = scrollIfRequired();

        function scrollIfRequired() {
             if (model === 'At Home Wider Community') {
                 scrollToDiv("atHome");
             }
             else if (model === 'Overseas Wider Community') {
                 scrollToDiv("overseas");
             }
        }

        function scrollToDiv(divName) {
            var elmnt = document.getElementById(divName);
            elmnt.scrollIntoView();
        }
    </script>

</body>

</html>