:root {
    --nav-bar-color: rgba(245, 245, 245, 1) /*#333*/;
    --nav-bar-height: 46.4px;
    --nav-bar-padding: calc((var(--nav-bar-height) - var(--bar-font-size))/2) calc((var(--nav-bar-height) - var(--bar-font-size))/2);
    --nav-bar-items-width: 800px;
    --nav-bar-letter-spacing: 4px;
    --nav-bar-font-size: 10px;
    --nav-bar-font-family: Calibri, sans-serif;
    --side-bar-color: rgba(245, 245, 245, 0.5);
    --side-bar-border: 1px solid #555;
    --side-bar-padding: 8px 16px;
    --side-bar-padding-middle: 8px calc((50px - 32px)/2);
    --side-bar-margin: 0px;
    --side-bar-width-large: 30vw;
    --side-bar-width-small: 20vw;
    --side-bar-links-width-small: 50px; 
    --side-bar-font-color: black;
    --side-bar-hover-color: #ddd;
    --hover-color: #555;
    --bar-font-family: Calibri, sans-serif;
    --bar-font-size: 10px;
    --bar-font-weight: 400;
    --bar-font-color: black;
    --main-wrapper-background-color: rgba(245, 245, 245, 1);
    --main-wrapper-desktop-width: calc(100vw - var(--side-bar-width-large)*2);
    --main-wrapper-mobile-width: calc(100vw - var(--side-bar-width-small)*2);
}

html {
    height: 100%
}

body {
    background-size: cover;
    margin: 0 auto;
    background-attachment: fixed;
}

/*small size wrapper*/
@media screen and (max-width: 400px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: var(--nav-bar-height) auto;
    }
}

/*medium size wrapper*/
@media screen and (min-width: 400px) and (max-width: 804px) {
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: var(--side-bar-width-small) var(--main-wrapper-mobile-width) var(--side-bar-width-small);
        grid-template-rows: var(--nav-bar-height) auto;
    }
}

/*large size wrapper*/
@media screen and (min-width: 804px) {

    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-columns: var(--side-bar-width-large) var(--main-wrapper-desktop-width) var(--side-bar-width-large);
        grid-template-rows: var(--nav-bar-height) auto var(--nav-bar-height);
    }
}

/*large size navbar*/
@media screen and (min-width: 980px) {
    .link-visible {
        display: none;
    }

    .dropdown-content {
        display: none;
    }

    .v2 {
        display: none;
    }

    .v1 {
        grid-row: 1;
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .navbar {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        grid-template-columns: calc(100vw - var(--nav-bar-items-width)) repeat(7, auto);
        grid-template-rows: 1fr;
        background-color: var(--nav-bar-color);
        font-family: var(--bar-font-family);
        text-transform: uppercase;
        font-size: var(--bar-font-size);
        letter-spacing: 4px;
    }

        .navbar p {
            grid-row: 1;
            grid-column: 1;
            padding: var(--nav-bar-padding);
            margin: 0px;
            color: var(--bar-font-color);
            font-weight: 400;
            text-align: left;
        }

        .navbar a {
            grid-row: 1;
            color: var(--bar-font-color);
            text-decoration: none;
            text-align: center;
            padding: var(--nav-bar-padding);
            z-index: 2;
        }

    .dropdown {
        grid-row: 1;
        overflow: hidden;
        text-decoration: none;
        display: grid;
        min-width: 130px;
    }

        .dropdown .dropbtn {
            margin: 0;
            padding: var(--nav-bar-padding);
            outline: none;
            border: none;
            background-color: inherit;
            z-index: 2;
            color: var(--bar-font-color);
            font-family: var(--bar-font-family);
            text-transform: uppercase;
            font-size: var(--bar-font-size);
            letter-spacing: 4px;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: var(--hover-color);
        }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }

        .dropdown-content a {
            display: block;
        }

            .dropdown-content a:nth-child(n+2) {
                display: block;
                color: black;
                text-decoration: none;
                width: inherit;
                background-color: #f9f9f9;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/*small size navbar*/
@media screen and (max-width: 980px) {
    .v1 {
        display: none;
    }

    .v2 {
        grid-row: 1;
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .navbar {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        grid-template-columns: calc(98vw - 165px) 165px;
        grid-template-rows: 1fr;
        background-color: var(--nav-bar-color);
        font-family: var(--nav-bar-font-family);
        text-transform: uppercase;
        font-size: var(--nav-bar-font-size);
        letter-spacing: var(--nav-bar-letter-spacing);
        height: var(--nav-bar-height);
    }

        .navbar p {
            grid-row: 1;
            grid-column: 1;
            padding: var(--nav-bar-padding);
            margin: 0px;
            color: var(--bar-font-color);
            font-weight: 400;
            text-transform: uppercase;
            text-align: left;
        }

        .navbar a {
            color: var(--bar-font-color);
            text-decoration: none;
            padding: var(--nav-bar-padding);
            z-index: 2;
            display: block;
            color: black;
            text-decoration: none;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            text-align: center;
        }

            .navbar a:hover {
                background-color: var(--hover-color);
            }

    .dropdown {
        grid-row: 1;
        overflow: hidden;
        color: var(--bar-font-color);
        text-decoration: none;
        display: grid;
    }

        .dropdown .dropbtn {
            height: var(--nav-bar-height);
            margin: 0;
            background-color: inherit;
            border: none;
            outline: none;
            z-index: 2;
            color: var(--bar-font-color);
            font-family: var(--bar-font-family);
            text-transform: uppercase;
            font-size: var(--bar-font-size);
            letter-spacing: 4px;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: var(--hover-color);
        }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }

        .dropdown-content a {
            display: block;
        }

            .dropdown-content a:nth-child(n+2) {
                display: block;
                color: black;
                text-decoration: none;
                width: inherit;
                background-color: #f9f9f9;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

/*large side bars*/
@media screen and (min-width: 800px) {

    .sideBarLeft {
        grid-column: 1;
        background-color: none;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 15vw 1fr;
    }

        .sideBarLeft ul {
            grid-column: 1;
            list-style-type: none;
            margin: var(--side-bar-margin);
            padding: 0;
            background-color: var(--side-bar-color);
            border: var(--side-bar-border);
            border-radius: 0px 10px 10px 0px;
        }

    .sideBarRight {
        grid-column: 3;
        background-color: none;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 15vw;
    }

        .sideBarRight ul {
            grid-column: 2;
            list-style-type: none;
            margin: var(--side-bar-margin);
            padding: 0;
            background-color: var(--side-bar-color);
            border: var(--side-bar-border);
            border-radius: 10px 0px 0px 10px;
        }

    li a {
        display: block;
        padding: var(--side-bar-padding);
        color: var(--side-bar-font-color);
        font-family: var(--bar-font-family);
        font-size: var(--bar-font-size);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: left;
    }

        li a:hover {
            background-color: var(--side-bar-hover-color);
        }

    li {
        border-bottom: var(--side-bar-border);
    }

        li:last-child {
            border-bottom: none;
        }
}

/*small side bars*/
@media screen and (max-width: 800px) and (min-width: 400px) {

    .sideBarLeft {
        grid-column: 1;
        background-color: none;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: var(--side-bar-links-width-small) 1fr;
    }

        .sideBarLeft ul {
            grid-column: 1;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: var(--side-bar-color);
            border: var(--side-bar-border);
            border-radius: 0px 10px 10px 0px;
        }

    .sideBarRight {
        grid-column: 3;
        background-color: none;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr var(--side-bar-links-width-small);
    }

        .sideBarRight ul {
            grid-column: 2;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: var(--side-bar-color);
            border: var(--side-bar-border);
            border-radius: 10px 0px 0px 10px;
        }

    li a {
        display: block;
        padding: var(--side-bar-padding-middle);
        color: var(--side-bar-font-color);
        font-family: var(--bar-font-family);
        font-size: var(--bar-font-size);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        writing-mode: vertical-rl;
        text-align: center;
    }

        li a:hover {
            background-color: var(--side-bar-hover-color);
        }

    li {
        border-bottom: var(--side-bar-border);
    }

        li:last-child {
            border-bottom: none;
        }
}

/*bottom side bars*/
@media screen and (max-width: 400px) {

    .sideBarLeft {
        grid-row: auto;
        grid-column: 2;
        background-color: none;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

        .sideBarLeft ul {
            list-style-type: none;
            margin: var(--side-bar-margin);
            padding: 0;
        }

    .sideBarRight {
        grid-row: auto;
        grid-column: 2;
        max-width: var(--main-wrapper-width);
        background-color: none;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

        .sideBarRight ul {
            list-style-type: none;
            margin: var(--side-bar-margin);
            padding: 0;
        }

    li a {
        display: block;
        padding: var(--side-bar-padding);
        color: var(--side-bar-font-color);
        font-family: var(--bar-font-family);
        font-size: var(--bar-font-size);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: left;
    }

        li a:hover {
            background-color: var(--side-bar-hover-color);
        }

    li {
        border-bottom: var(--side-bar-border);
        background-color: var(--side-bar-color);
        border: var(--side-bar-border);
        border-radius: 10px 10px 10px 10px;
    }

        li:last-child {
            margin-bottom: 10px;
        }
}

.clear {
    grid-row: 2;
    grid-column: 1 / 4;
    min-width: 100px;
    overflow: auto;
    padding-bottom: 10px;
    padding-left: 20vw;
    padding-right: 20vw;
    background-color: none;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: calc(100vh - (200px)) auto;
    grid-template-columns: 1fr 1fr 1fr;
}

    .clear .welcome {
        min-height: 300px;
        padding-top: 20vh;
        grid-row: 1;
        grid-column: 1 / 4;
    }

        .clear .welcome p {
            color: white;
            font-family: "Domaine Text Light Regular",serif;
            font-size: 1.875rem;
            margin-bottom: 3.75rem;
            line-height: 1.4;
            max-width: 600px;
        }

        .clear .welcome h1 {
            color: white;
            font-size: 1.875rem;
            line-height: 1.4;
            text-align: left;
            font-family: 'Lato',Arial,Helvetica,sans-serif;
            font-weight: normal;
            font-size: 24px;
            text-transform: uppercase;
            padding: 5px 0 3px 12px;
            margin-bottom: 10px;
            border-width: 0 0 0 1px;
            border-style: solid;
            height: 35px;
        }

.mainWrapper {
    grid-row: 2;
    grid-column: 2 / span 1;
    max-height: calc(100vh-(var(--bar-height)*2));
    min-height: 100px;
    min-width: 100px;
    /*max-width: var(--main-wrapper-width);*/
    overflow: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    background-color: var(--main-wrapper-background-color);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

    .mainWrapper p {
        color: #777;
        font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
        line-height: 1.6em;
        padding: 10px
    }

    .mainWrapper h4 {
        font-family: 'Lato',Arial,Helvetica,sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
    }

    .mainWrapper h2 {
        text-align: left;
        font-family: 'Lato',Arial,Helvetica,sans-serif;
        font-weight: normal;
        font-size: 22px;
        text-transform: uppercase;
    }

    .mainWrapper a {
        text-decoration: none;
    }

        .mainWrapper a:hover {
            text-decoration: underline;
        }

        .mainWrapper a:visited {
            color: blue;
        }

.title {
    text-align: left;
    font-family: 'Lato',Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 36px;
    text-transform: uppercase;
    padding: 5px 0 3px 12px;
    margin-bottom: 10px;
    border-width: 0 0 0 1px;
    border-style: solid;
    height: 35px;
}

.mainWrapper .links {
    grid-row: 1;
    grid-column: 1;
    /*min-height: 63vh;*/
}

    .mainWrapper .links .content {
        text-align: left;
    }

.mainWrapper .about {
    grid-row: 1;
    grid-column: 1;
    min-height: 63vh;
}

    .mainWrapper .about img {
        width: 100%;
        height: auto;
        max-width: 200px;
        padding: 20px;
        float: left;
    }

.mainWrapper .contactUs {
    grid-row: 1;
    grid-column: 1;
}

.mainWrapper .LocalCommunity {
    grid-row: 1;
    grid-column: 1;
}

.mainWrapper .WiderCommunity {
    grid-row: 1;
    grid-column: 1;
}

.mainWrapper .Login {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding-bottom: 20px;
    min-height: 63vh;
}

    .mainWrapper .Login .Form-style {
        font-family: 'Open Sans Condensed', arial, sans;
        width: 400px;
        padding: 30px;
        background: #FFFFFF;
        margin: 50px auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        height: 200px;
    }

        .mainWrapper .Login .Form-style .text, .mainWrapper .Login .Form-style .password {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            display: block;
            width: 100%;
            padding: 7px;
            border: none;
            border-bottom: 1px solid #ddd;
            background: transparent;
            margin-bottom: 10px;
            font: 16px Arial, Helvetica, sans-serif;
            height: 45px;
        }

        .mainWrapper .Login .Form-style .submit {
            -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
            -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
            box-shadow: inset 0px 1px 0px 0px #45D6D6;
            background-color: #2CBBBB;
            border: 1px solid #27A0A0;
            display: inline-block;
            cursor: pointer;
            color: #FFFFFF;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 14px;
            padding: 8px 18px;
            text-decoration: none;
            text-transform: uppercase;
        }

.mainWrapper .CreateUser .Form-style .submit:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
}

.mainWrapper .CreateUser, .mainWrapper .CreateRole {
    grid-row: 1;
    grid-column: 1;
    padding-bottom: 20px;
    min-height: 63vh;
}

    .mainWrapper .CreateUser .Form-style, .mainWrapper .CreateRole .Form-style {
        font-family: 'Open Sans Condensed', arial, sans;
        width: 500px;
        padding: 30px;
        background: #FFFFFF;
        margin: 50px auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    }

        .mainWrapper .CreateUser .Form-style .text, .mainWrapper .CreateUser .Form-style .password, .mainWrapper .CreateRole .Form-style .text, .mainWrapper .CreateRole .Form-style .date {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            display: block;
            width: 100%;
            padding: 7px;
            border: none;
            border-bottom: 1px solid #ddd;
            background: transparent;
            margin-bottom: 10px;
            font: 16px Arial, Helvetica, sans-serif;
            height: 45px;
        }

        .mainWrapper .CreateUser .Form-style .submit, .mainWrapper .CreateRole .Form-style .submit {
            -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
            -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
            box-shadow: inset 0px 1px 0px 0px #45D6D6;
            background-color: #2CBBBB;
            border: 1px solid #27A0A0;
            display: inline-block;
            cursor: pointer;
            color: #FFFFFF;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 14px;
            padding: 8px 18px;
            text-decoration: none;
            text-transform: uppercase;
        }

            .mainWrapper .CreateUser .Form-style .submit:hover, .mainWrapper .CreateRole .Form-style .submit:hover {
                background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
                background-color: #34CACA;
            }

.mainWrapper .meetTheTeam {
    grid-row: 1;
    grid-column: 1;
}

.mainWrapper .history {
    grid-row: 1;
    grid-column: 1;
}

.mainWrapper .services {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.mainWrapper .positionedTitle {
    grid-row: 1;
    grid-column: 1;
}

.mainWrapper .table {
    grid-row: 2;
    grid-column: 1;
    min-height: 63vh;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(auto, 60px);
}

    .mainWrapper .table .fieldOne, .mainWrapper .table .fieldTwo, .mainWrapper .table .fieldThree, .mainWrapper .table .fieldFour {
        display: grid;
        padding-left: 25px;
        border-bottom: solid 1px lightgray;
    }

    .mainWrapper .table .table-header {
        padding-left: 25px;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: solid 1px lightgray;
    }

.mainWrapper .editTable {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(auto, 60px);
    min-height: 63vh;
}

    .mainWrapper .editTable .fieldOne, .mainWrapper .editTable .fieldTwo, .mainWrapper .editTable .fieldThree, .mainWrapper .editTable .fieldFour, .mainWrapper .editTable .fieldFive, .mainWrapper .editTable .fieldSix {
        display: grid;
        padding-left: 25px;
        border-bottom: solid 1px lightgray;
    }

    .mainWrapper .editTable .table-header {
        padding-left: 25px;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: solid 1px lightgray;
    }

.mainWrapper .rotaManagement {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(auto, 60px);
    min-height: 63vh;
}

    .mainWrapper .rotaManagement .field {
        padding-left: 25px;
        border-bottom: solid 1px lightgray;
    }

    .mainWrapper .rotaManagement .table-header {
        padding-left: 25px;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: solid 1px lightgray;
    }

.mainWrapper .roleManagement {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(auto, 60px);
    min-height: 63vh;
}

    .mainWrapper .roleManagement .fieldOne, .mainWrapper .roleManagement .fieldTwo, .mainWrapper .roleManagement .fieldThree {
        display: grid;
        padding-left: 25px;
        border-bottom: solid 1px lightgray;
    }

    .mainWrapper .roleManagement .table-header {
        padding-left: 25px;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: solid 1px lightgray;
    }

.mainWrapper .userManagement {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 400px 100px 50px;
    grid-template-rows: repeat(auto, 60px);
    min-height: 63vh;
}

    .mainWrapper .userManagement .fieldOne, .mainWrapper .userManagement .fieldTwo, .mainWrapper .userManagement .fieldThree {
        display: grid;
        padding-left: 25px;
        border-bottom: solid 1px lightgray;
    }

    .mainWrapper .userManagement .table-header {
        padding-left: 25px;
        font-weight: 900;
        text-transform: uppercase;
        border-bottom: solid 1px lightgray;
    }

.footer {
    background-color: var(--nav-bar-color);
    grid-row: auto;
    grid-column: 1 / 4;
    text-align: center;
    font-family: var(--nav-bar-font-family);
    font-size: var(--nav-bar-font-size);
    letter-spacing: var(--nav-bar-letter-spacing);
    text-transform: uppercase;
    color: var(--bar-font-color);
    height: var(--nav-bar-height);
}
